# Игнорируем виртуальное окружение
web_venv/

# Игнорируем конфиденциальные файлы
russian_trusted_root_ca.cer

# Лог-файлы
*.log

# Файлы VS Code
.vscode/

# Системные файлы (для Windows и Mac)
Thumbs.db
.DS_Store

# Папки и файлы, которые могут быть автоматически созданы
*.pyc
__pycache__/