<header class="site-header">
  <div class="header-inner">
    <div class="logo">
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='img/logo_changed.png') }}" alt="SPACEERA Logo">
  </a>
</div>


    <nav class="nav-links">
      <a href="{{ url_for('index') }}">Главная</a>
      <a href="{{ url_for('courses') }}">Все курсы</a>
      <a href="#">О платформе</a>
    </nav>

    <div class="user-actions">
      {% if 'user_name' in session %}
        <a href="{{ url_for('main') }}" class="btn-secondary">Личный кабинет</a>
      {% else %}
        <a href="{{ url_for('index') }}#register" class="btn-secondary">Регистрация</a>
      {% endif %}
    </div>
  </div>
</header>
